
<!DOCTYPE html>
<html>
<head>
    <title>Ввод информации в базу данных</title>
</head>
<body>
    <form action="/add" method="post">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="sec_name">Фамилия:</label><br>
        <input type="text" id="sec_name" name="sec_name"><br>
        <label for="area">Участок:</label><br>
        <input type="number" id="area" name="area"><br>
        <input type="submit" value="Добавить">
    </form>
</body>
</html>