<!DOCTYPE html>
<html>
<head>
    <title>Изменение базы данных</title>
</head>
<body>
    <form action="/change" method="post">
        <label for="chg">Укажите id объекта для изменения:</label><br>
        <input type="number" id="chg" name="chg"><br>


        <label for="id">ID:</label><br>
        <input type="number" id="id" name="id"><br>
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="sec_name">Фамилия:</label><br>
        <input type="text" id="sec_name" name="sec_name"><br>
        <label for="area">Участок:</label><br>
        <input type="number" id="area" name="area"><br>
        <input type="submit" value="Изменить">
    </form>
</body>
</html>